[Unit]
Description=painkiller/hillshade

[Service]
ExecStart=/usr/bin/python /home/arctair/painkiller/hillshade/main.py 1
Type=simple
WorkingDirectory=/home/arctair/painkiller/hillshade

[Install]
WantedBy=default.target
